/* all pages */

* {
    box-sizing: border-box; 
}

/* ADD NAV BAR STYLES */

.nav-bar {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #003262;
    overflow: hidden;
}

.nav-bar a {
    float: right;
    display: block;
    text-align: center;
    padding: 20px 15px;
    font-size: 18px;
}

a:visited {
    text-decoration: none;
    color: white;
}

.nav-logo {
    position: absolute;
    padding: 15px 10px;
}

.nav-logo a{
    text-align: center;
    padding: 0px 0px 30px 0px;
}

body { 
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.responsive-image {
    max-width: 100%;
    height: auto;
}

.title-header {
    font-weight: 700;
    font-size: 34px;
    color: #FDB515;
}

.subheader {
    font-weight: 600;
    font-size: 28px;
    color: #FDB515;
}

.header-background {
    background-color: #003262;
    width: fit-content;
    height: auto;
    padding: 20px;
}

/* home page */


/* decades pages */

.timeline-background {
    background-color:rgba(238, 238, 238, 0.95);
}

/* 2021 page */