/* all pages */

* {
    box-sizing: border-box; 
}

body { 
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.responsive-image {
    display: block;
    max-width: 100%;
    height: auto;
}

/* NAV BAR STYLES */

.nav-bar {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #003262;
    overflow: hidden;
}

.nav-logo {
    position: absolute;
    top: 20px;
}

/* .center {
    float: right;
    position: absolute;
} */

.menu-icon {
    float: right;
    display: block;
    color: white;
    visibility: visible;
    font-size: 40px;
    padding-top: 10px;
    padding-right: 15px;
}

.nav-links {
    display: inline;
    text-align: right;
    font-size: 18px;
    visibility: hidden;
}

@media screen and (min-width: 768px){
    .nav-links {
        display: block;
        text-align: right;
        padding: 20px 15px;
        font-size: 18px;
        visibility: visible;
}

.menu-icon {
    visibility: hidden;
}

}

a:visited {
    text-decoration: none;
    color: white;
}

.parent-box {
    position: relative;
    margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
    .parent-box {
        margin-bottom: 80px;
    }
}

.title-header {
    font-weight: 700;
    font-size: 20px;
    color: #FDB515;
}

.header-background {
    background-color: #003262;
    width: fit-content;
    height: auto;
    padding: 10px;
}

.subheader-background {
    background-color: #003262;
    width: fit-content;
    height: auto;
    padding: 10px 40px;
}

.subheader {
    font-weight: 600;
    font-size: 18px;
    color: #FDB515; 
}

@media screen and (min-width: 500px){
    .subheader {
        font-weight: 600;
        font-size: 24px;
        color: #FDB515;
    }
}

@media screen and (min-width: 768px){
    .subheader {
        font-weight: 600;
        font-size: 28px;
        color: #FDB515;
    }
}

@media screen and (min-width: 960px){
    .title-header {
        font-weight: 700;
        font-size: 34px;
        color: #FDB515;
    }

    .header-background {
        background-color: #003262;
        width: fit-content;
        height: auto;
        padding: 20px;
    }

}


/* home page */

.child-left {
    position: absolute;
    top: 10%;
    left: 5%;
}

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 
    
.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}


/* decades pages */

.timeline-background {
    background-color:rgba(238, 238, 238, 0.95);
}

/* 2021 page */

.center {
    display: block;
    margin: auto;
  }

  .child-center {
      position: absolute;
      top: 75%;
      left: 30%;
  }

@media screen and (min-width: 500px) {
    .child-center {
        position: absolute;
        top: 80%;
        left: 37%;
    }
}

@media screen and (min-width: 768px) {
    .child-center {
        position: absolute;
        top: 85%;
        left: 42%;
    }
}

@media screen and (min-width: 992px) {
    .child-center {
        position: absolute;
        top: 90%;
        left: 45%;
    }
}

.slick-prev:before, .slick-next:before {
    color:  #003262;
}

.carousel-margin {
    margin-top: 40px;
    /* margin-bottom: 30px; */
}
