/* all pages */
* {
    box-sizing: border-box; 
}

body { 
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.responsive-image {
    display: block;
    max-width: 100%;
    height: auto;
}

/* NAV BAR STYLES */

.nav-bar {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #003262;
    overflow: hidden;
}

.nav-logo {
    position: absolute;
    top: 18px;
    display: block;
    max-width: 75%;
    height: auto;
}

@media screen and (min-width: 500px) {
    .nav-logo {
        top: 15px;
    }
}

ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.menu-icon {
    float: right;
    display: block;
    color: white;
    visibility: visible;
    font-size: 40px;
    padding-top: 10px;
    padding-right: 15px;
}

/* .desktop-menu {
    display: inline;
    text-align: right;
    font-size: 18px;
    visibility: hidden;
} */

.nav-links {
    visibility: hidden;
}

@media screen and (min-width: 768px){
    .nav-links {
        display: inline;
        float: right;
        padding: 20px 15px;
        font-size: 18px;
        visibility: visible;
}

.menu-icon {
    visibility: hidden;
}

}

a:link {
    text-decoration: none;
}

a:visited {
    color: white;
}


/* home page */

.title-header {
    font-weight: 700;
    font-size: 20px;
    color: #FDB515;
    word-wrap: break-word;
}

@media screen and (min-width: 576px) {
    .title-header {
        font-weight: 700;
        font-size: 23px;
        color: #FDB515;
        word-wrap: normal;
    }    
}

@media screen and (min-width: 768px) {
    .title-header {
        font-weight: 700;
        font-size: 27px;
        color: #FDB515;
        word-wrap: normal;
    }    
}

@media screen and (min-width: 992px){
    .title-header {
        font-weight: 700;
        font-size: 31px;
        color: #FDB515;
    }
}

.header-background {
    background-color: #003262;
    width: 200px;
    height: auto;
    padding: 15px;
}

@media screen and (min-width: 576px) {
    .header-background {
        background-color: #003262;
        width: fit-content;
        height: auto;
        padding: 15px;
    }  
}

@media screen and (min-width: 992px){
    .header-background {
        background-color: #003262;
        width: fit-content;
        height: auto;
        padding: 20px;
    }
}

.subheader-background {
    background-color: #003262;
    width: fit-content;
    height: auto;
    padding: 10px 40px;
}

.subheader {
    font-weight: 600;
    font-size: 18px;
    color: #FDB515; 
}

@media screen and (min-width: 576px){
    .subheader {
        font-weight: 600;
        font-size: 20px;
        color: #FDB515;
    }
}

@media screen and (min-width: 768px){
    .subheader {
        font-weight: 600;
        font-size: 23px;
        color: #FDB515;
    }
}

@media screen and (min-width: 992px){
    .subheader {
        font-weight: 600;
        font-size: 26px;
        color: #FDB515;
    }
}

.child-left {
    position: absolute;
    top: 20%;
    left: 5%;
}

@media screen and (min-width: 576px) {
    .child-left {
        position: absolute;
        top: 25%;
        left: 5%;
    }
}

@media screen and (min-width: 992px) {
    .child-left {
        position: absolute;
        top: 15%;
        left: 5%;
    }
}

@media screen and (min-width: 1200px) {
    .child-left {
        position: absolute;
        top: 20%;
        left: 5%;
    }
}

.parent-box-title {
    position: relative;
    margin-bottom: 20px;
}

.home-page-hero-image {
    max-width:100%;
    height:200px;
    object-fit: cover;
    object-position: 80% 0;
}

@media screen and (min-width: 590px) {
    .home-page-hero-image {
        max-width: 100%;
        height: 210px;
        object-fit: cover;
        object-position: 75% 0;
    }
}

@media screen and (min-width: 992px) {
    .home-page-hero-image {
        max-width:100%;
        height: auto;
        display:block;
    }
}

.parent-box-subhead {
    position: relative;
    margin-bottom: 5px;
}

.home-page-subhead-image {
    max-width: 100%;
    height:130px;
    object-fit: cover;
    object-position: 40% 100%;
}

@media screen and (min-width: 578px) {
    .home-page-subhead-image {
        max-width:100%;
        height: auto;
    }
}

.child-float-left {
    position: absolute;
    top: 35%;
    left:-10%; 
}

@media screen and (min-width: 768px) {
    .child-float-left {
        position: absolute;
        top: 35%;
        left:-15%;
    }     
}

.child-float-right {
    position: absolute;
    top: 30%;
    right:-15%; 
}

@media screen and (min-width: 1200px) {
    .child-float-right {
        position: absolute;
        top: 40%;
        right:-15%; 
    }
}

.remainder-text {
    display:none;
}

.button {
    background: transparent;
    border:none;
}

.button-padding {
    margin-bottom: 30px;
}

button:hover {
    cursor: pointer;
}

.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 
    
.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}


/* decades pages */

/* .header {
    width:100%;
    height: auto;
    background: lightgray;
    border: none;
} */

.dropdown-menu {
    position: relative;
    width:100%;
    height: auto;
    background-color:rgba(238, 238, 238, 0.95);
    border: none;
    visibility: visible;
}

@media screen and (min-width: 576px) {
    .dropdown-menu {
        display: none;
    }      
}

#menuToggle {
    border: none;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    text-align: justify;
    padding: 15px;
    color:  #003262;
}

#main-navigation {
    position: absolute;
    display: none;
    background-color:rgba(238, 238, 238, 0.95);
    width: 100%;
    padding: 15px;
    z-index: 1;
} 

.button-right {
    top: 30%;
    right:3%;
    position: absolute;
    z-index: 2;
}

#main-navigation li {
    margin-bottom: 30px;
}

#main-navigation a:visited {
    color:  #003262;
}

#main-navigation a:hover {
    font-weight: 700;
}


.timeline-container {
    background-color:rgba(238, 238, 238, 0.95);
    width: 100%;
    height: 100%;
    padding: 50px 0 50px 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
    display: none;
}

@media screen and (min-width:576px) {
    .timeline-container {
        display: block;
    }
}

.timeline-sidebar-links {
    color:  #003262;
    text-align: center;
}

.timeline-sidebar-links li {
    margin-bottom: 30px;
}

.timeline-sidebar-links a:link {
    text-decoration: none;
}

.timeline-sidebar-links a:visited {
    color:  #003262;
}

.timeline-sidebar-links a:hover {
    font-weight: 700;
}

.selected {
    font-weight: 700;
}

.parent-box-decade {
    position: relative;
    margin-bottom: 5px;
}

.decade-page-subhead-image {
    max-width: 100%;
    height: 130px;
    object-fit: cover;
    object-position: 40% 100%;
}

@media screen and (min-width: 576px) {
    .decade-page-subhead-image {
        max-width: 100%;
        height: 150px;
        object-fit: cover;
        object-position: 40% 100%;
    }
}

@media screen and (min-width: 992px) {
    .decade-page-subhead-image {
        max-width:100%;
        height: auto;
        display: block;
    }
}

.child-decade-left {
    position: absolute;
    top: 25%;
    left: -15px; 
}

@media screen and (min-width: 778px) {
    .child-decade-left {
        position: absolute;
        top: 25%;
        left: -20px; 
    }
}

.child-decade-right {
    position: absolute;
    top: 25%;
    right: -5%; 
}


.margin-adjust {
    margin-left: 0px;
    margin-right: 0px;
}

@media screen and (min-width: 992px) {
    .margin-adjust {
        margin-left: 40px;
        margin-right: 40px;
    }
    
}

figcaption {
    color: rgba(0, 0, 0, 0.60);
}

.decade-section-spacing {
    margin-bottom: 30px;
}

/* 2021 page */

.parent-box-2021 {
    position: relative;
    margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
    .parent-box-2021 {
        margin-bottom: 80px;
    }
}

  .child-2021-center {
      position: absolute;
      top: 75%;
      left: 30%;
  }

@media screen and (min-width: 500px) {
    .child-2021-center {
        position: absolute;
        top: 80%;
        left: 37%;
    }
}

@media screen and (min-width: 768px) {
    .child-2021-center {
        position: absolute;
        top: 85%;
        left: 42%;
    }
}

@media screen and (min-width: 992px) {
    .child-2021-center {
        position: absolute;
        top: 90%;
        left: 45%;
    }
}

.center-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
  }

.slick-prev:before, .slick-next:before {
    color:  #003262;
}

.carousel-margin {
    margin-top: 40px;
    /* margin-bottom: 30px; */
} 